*.[od]
*.l[oa]

libpgf.pc
libpgf.spec
doc/Doxyfile

.libs/
.deps/
Makefile.in
autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.h
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

/ltmain.sh
/libtool

m4

Makefile
